<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>İnternal CSS</title>
    <!Sayada yazılan koslar sadece bu sayfayı ilgilendiriyorsa İternal Css kullanılır>
    <style> 
        h1{
            color:cadetblue;
            font-size: 50px;
        }
        p{
            color:darkviolet;
            font-size: 20px;
        }
    </style>
</head>
<body>
      
    <h1>
        Web Geliştirme Kursu
    </h1>  
   <p>
       Komple Uygulamalı Web Geliştirme
   </p>
   <p>
       Komple Uygulamalı Web Geliştirme
   </p>
   <p>
       Komple Uygulamalı Web Geliştirme
   </p>
    
</body>
</html>
